streamlit
openai
plotly
pandas
openpyxl
xlrd
pygwalker==0.4.6
requests
pandasai
pyyaml
streamlit_authenticator
python-dateutil
langchain
langchain-community
chardet>=5.0.0   # 编码检测
typing-extensions>=4.0.0
kaleido>=0.2.1  # Plotly静态图像导出支持
Pillow>=9.0.0   # 图像处理库
pdfplumber
PyPDF2
colorama
streamlit-pdf-viewer
pdf2image
poppler-utils
